<div class="gradient-background"></div> <!-- Gradient background -->

<div class="content-container"> <!-- Container for your content -->
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput ngModel name="email" type="email" required email>
        <mat-error>Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput ngModel name="password" type="password" required>
        <mat-error>Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
  </mat-card>

  <div class="social-media-container">
    <h2>Login with Social Media</h2>
    <div class="social-buttons">
      <a href="#" class="social-btn fb"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
      <a href="#" class="social-btn twitter"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
      <a href="#" class="social-btn google"><i class="fa fa-google fa-fw"></i> Google</a>
    </div>
  </div>
</div>
